# This is Jeopardy!

#### Overview

This project is slightly different than others you have encountered thus far. Instead of a step-by-step tutorial, this project contains a series of open-ended requirements which describe the project you'll be building. There are many possible ways to correctly fulfill all of these requirements, and you should expect to use the internet, Codecademy, and/or other resources when you encounter a problem that you cannot easily solve.

#### Project Goals

You will work to write several functions that investigate a dataset of _Jeopardy!_ questions and answers. Filter the dataset for topics that you're interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

In [62]:
import pandas as pd
import datetime
import random

pd.set_option('display.max_colwidth', None)

df = pd.read_csv('jeopardy.csv')
df=df.rename(columns={"Show Number":"show_number", " Air Date": "air_date", " Round":"round", " Category":"category", " Value":"value", " Question":"question", " Answer":"answer"})

#print(df.head(10))
print(df.tail(10))
#print(df.describe())

        show_number    air_date             round                category  \
216920         4999  2006-05-11  Double Jeopardy!               "T" BIRDS
216921         4999  2006-05-11  Double Jeopardy!  AUTHORS IN THEIR YOUTH
216922         4999  2006-05-11  Double Jeopardy!              QUOTATIONS
216923         4999  2006-05-11  Double Jeopardy!          WORLD CAPITALS
216924         4999  2006-05-11  Double Jeopardy!            OFF-BROADWAY
216925         4999  2006-05-11  Double Jeopardy!          RIDDLE ME THIS
216926         4999  2006-05-11  Double Jeopardy!               "T" BIRDS
216927         4999  2006-05-11  Double Jeopardy!  AUTHORS IN THEIR YOUTH
216928         4999  2006-05-11  Double Jeopardy!              QUOTATIONS
216929         4999  2006-05-11   Final Jeopardy!          HISTORIC NAMES

        value  \
216920  $1600
216921  $1600
216922  $1600
216923  $2000
216924  $2000
216925  $2000
216926  $2000
216927  $2000
216928  $2000
216929   None

                                                                                                                                                                               question  \
216920                                                                                                               Nightingales & robins belong to this family of melodious songbirds
216921                                                                                        Her hotsy-totsy diaries trace back to one she began as an 11-year-old aboard ship in 1914
216922                                                                  A motto of hers was "in politics, if you want anything said, ask a man; if you want anything done, ask a woman"
216923                                                                                                                                                       It's on the Suriname River
216924  In 2006 the cast of this long-running hit embarked on <a href="http://www.j-archive.com/media/2006-05-11_DJ_26.wmv">an exuberant & noisy campaign</a> to clean up New York City
216925                                                                                                       This Puccini opera turns on the solution to 3 riddles posed by the heroine
216926                                                                          In North America this term is properly applied to only 4 species that are crested, including the tufted
216927                                                                        In Penny Lane, where this "Hellraiser" grew up, the barber shaves another customer--then flays him alive!
216928                                                           From Ft. Sill, Okla. he made the plea, Arizona is my land, my home, my father's land, to which I now ask to... return"
216929                                                                          A silent movie title includes the last name of this 18th c. statesman & favorite of Catherine the Great

                                answer
216920                        thrushes
216921                       AnaÃ¯s Nin
216922             (Margaret) Thatcher
216923                      Paramaribo
216924                           Stomp
216925                        Turandot
216926                      a titmouse
216927                    Clive Barker
216928                        Geronimo
216929  Grigori Alexandrovich Potemkin

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

In [3]:
def filter_info(df, lst):
    fltr = lambda x: all(word in x for word in lst)

    return df.loc[df["question"].apply(fltr)]

filtered = filter_info(df, ["King", "England"])
print(len(filtered["question"]))

49

3. Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

   For example, think about capitalization. We probably want to find questions that contain the word `"King"` or `"king"`.
   
   You may also want to check to make sure you don't find rows that contain substrings of your given words. For example, our function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. Note that this also comes with some drawbacks &mdash; you would no longer find questions that contained words like `"England's"`.

In [4]:
def filter_info(df, lst):
    fltr = lambda x: all(word.lower() in x.lower() for word in lst)

    return df.loc[df["question"].apply(fltr)]

filtered = filter_info(df, ["King", "England"])
print(len(filtered["question"]))

152

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the`" Value"` column to floats. If you'd like to, you can create a new column with float values.

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [5]:
df["float_values"] = df["value"].apply(lambda x: float(x[1:].replace(',','')) if x != "None" else 0)

#print(df['float_values'])

filtered = filter_info(df,["King"])
print(filtered["float_values"].mean())

771.8833850722094

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [12]:
def unique_count(df,column):#returns the unique answers 
    return df[column].unique()

#test
u_ans = unique_count(filtered, "answer")
#print(u_ans)



def answer_count(df, column):#counts the unique answers
    return df[column].value_counts()

#test
#print(answer_count(filtered, "answer"))

6. Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven't even started looking at yet. Here are some ideas on ways to continue working with this data:

 * Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?

 * Build a system to quiz yourself. Grab random questions and get a response from the user. Check to see if that response was right or wrong.

In [36]:
filtered_comp = filter_info(df, ["Computer"])# create a df filtered by "computer"

df['air_date'] = pd.to_datetime(df['air_date'])# convert a string into date
#print(filtered_comp)

#finds the number of quetions containing 'computer' in the 90s 
computer_90s = filtered_comp[(filtered_comp['air_date'] > '1990-12-31') & (filtered_comp['air_date'] < '2000-01-01')]

print(len(computer_90s))
#finds the number of quetions containing 'computer' in the 00s 
computer_2000s = filtered_comp[(filtered_comp['air_date'] >= '2000-01-01')]
print(len(computer_2000s))

93
327

### Build a system to quiz yourself

In [70]:
def quiz(df):
    continue_game = 'Yes'
    
    while (continue_game == 'Yes'):
        rd_index = random.randint(0, 216930)
        question = df.question.iloc[rd_index]
        answer = df.answer.iloc[rd_index]
        print(question)
        answer_input = input('Type your answer')
        if answer.lower() == answer_input.lower():
            print("You got it! The answer is {i}".format(i=answer))
          
            continue_game = input('Want to continue? Enter Yes or No: ')
        else:
            print("Close enough. Check our suggestion: {i}".format(i=answer))
         
            continue_game = input('Want to continue?Enter Yes or No: ')
 




quiz(df)

On May 6, 2000 the 2 writers of this 1997 movie joined a rally trying to get the janitors at Harvard a raise
Close enough. Check our suggestion: Good Will Hunting (Ben Affleck & Matt Damon)
In England these breakfast items are traditionally eaten on Shrove Tuesday
Close enough. Check our suggestion: pancakes
Writing on the wall breaks up party
Close enough. Check our suggestion: Daniel
(<a href="http://www.j-archive.com/media/2006-07-26_DJ_04.jpg" target="_blank">Jon of the Clue Crew indicates a balance on a monitor.</a>)  With the torque pushing the bar clockwise equal to the torque pushing it counterclockwise, the bar is in the rotational type of this
Close enough. Check our suggestion: equilibrium
In "The Jungle Book", this character is referred to as "the frog" due to his hairlessness
Close enough. Check our suggestion: Mowgli